{% include('common/_header.twig') %}

    <div class="main">

        {% include('common/_admin_nav.twig') %}

        <div class="content">
            <div class="wrapper wrapper-admin">

                {% include('common/_admin_info.twig') %}

                <div class="admin-control-area">
                    <div class="admin-list-header">
                        <h2>МОИ ФАЙЛЫ</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" class="form-control" id="inputPhoto" name="photo" accept="image/*">
                            <button type="submit" class="btn btn-submit" name="submit">Загрузить</button>
                        </form>
                    </div>

                    <table>
                        {% for file in files %}
                            <tr>
                                <td width="240px"><img src="/admin/thumbs/{{ file.filename }}" alt=""></td>
                                <td><p class="comment-to-file" data-filename='{{ file.filename }}'>{{ file.comment | raw }}</p></td>
                                <td width="250px" class="file-controls">
                                    <a href="/admin/viewfile/{{ file.filename }}">Просмотр</a><br>
                                    <a href="/admin/commentfile" data-filename='{{ file.filename }}'>Комментарии</a><br>
                                    <a href="/admin/deletefile" data-filename='{{ file.filename }}'>Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                </div>

            </div>
        </div>
    </div>

{% include('common/_admin_footer.twig') %}
