{% macro declension(number, forms) %}
    {% set cases = [2, 0, 1, 1, 1, 2] %}
    {{ number }} {{ forms[ ( number%100>4 and number%100<20)? 2 : cases[(number%10<5)?number%10:5] ] }}
{% endmacro %}

{% import _self as utils %}

<div class="admin-user-info">
    <div class="admin-user-info-photo">
        <img src="/user/mainPhoto" alt="" width="200" height="267">
    </div>
    <div>
        <div class="admin-user-info-data">
            <p class="user-info-name">{{ name }}</p>
            <p class="user-info-age" data-age="{{ age }}">{{ utils.declension(age, ['год','года','лет']) }}</p>
            <p  class="user-info-description">{{ description | raw }}</p>
            <a href="/admin/editselfdata" id="editselfdata" data-id="{{ userId }}" class="admin-edit-self-data">Редактировать данные</a>
        </div>
    </div>
</div>
